OPENAI_API_KEY= Your OPENAI KEY
OPENAI_MODEL=gpt-4o-mini YOU OPENAI MODEL YOU WISH TO USE

SCENARIO_API_KEY= SCENARIO API KEY
SCENARIO_API_SECRET= SCENARIO API SECRET
SCENARIO_MODEL_ID= SCENARIO MODEL ID

TWITTER_USERNAME= TWITTER USERNAME
TWITTER_PASSWORD= TWITTER PASSWORD

TWEET_INTERVAL=2 TIME BETWEEN EACH RUN
